.idea
/*.php
wp-admin
wp-includes
*.zip
.htaccess
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.log
bs-config.js
*.dat
*.source.map

# Exclude Dev Spcs
!composer.json
!composer.lock
!phpcs.xml.dist
!phpstan.neon.dist
phpcs.xml
phpstan.neon

# Exclude everything except a specific directory
/*
!.gitignore
!.github
!/wp-content
/wp-content/*
!/wp-content/plugins
/wp-content/plugins/*
!/wp-content/plugins/ayyash-pro/
!/wp-content/plugins/themeoo-demo/
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/ayyash/
!/wp-content/themes/ayyash/vendor/
/wp-content/themes/ayyash/node_modules/
/wp-content/themes/ayyash/npm-debug.log
/wp-content/themes/ayyash/package-lock.json
/wp-content/themes/ayyash/yarn.lock
/wp-content/themes/ayyash/assets/dist/*
