.idea
.DS_Store
phpcs.xml
phpunit.xml
Thumbs.db
wp-cli.local.yml
*.sql
*.tar.gz
*.zip
*.zip
.htaccess
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.log
bs-config.js
*.dat
*.source.map
*.map
node_modules/
vendor/
logfile
assets/dist/
